@charset "UTF-8";

* {
font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, white, blue);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px; color: rgba(222, 184, 135, 0.699);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
 color: brown; 
 text-align: center;
 text-shadow: 1px, 1px, 2px,; color: rgba(137, 43, 226, 0.637);  
}

h2{
    color: chocolate;
}
p{
    text-align: justify;
}